body {
    width: 800px;
}

img {
    width: 800px;
        
}

.titulo{
    padding: 0px 0px 35px 50px;
    background-color: gray;
    border-top: 1px solid black;
    margin-bottom: 4px;
    
    
}

.datos {
    padding: 5px 100px 35px 50px;
    background-color: lightgray;
    margin-bottom: 4px;
    
}

div {
    background-color: rgb(238, 237, 236);
    padding: 5px 100px 30px 50px;
}

h1 {
    color: white;

}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

p {
    font-family: Arial, Helvetica, sans-serif;
    
}

li {
    font-family: Arial, Helvetica, sans-serif;
    
}

a:hover {
    color: red;
    font-style: italic;
    text-decoration: none;
}

/* formulario */

.formulario {
    width: 400px;
    background-color: lightgray;
    border-radius: 15px;
        
}

.envio {
    background-color: white;
    color: blue;
    font-size: 16px;
    border-radius: 10px;
}

.envio:hover {
    background-color: pink;
    cursor: pointer;
    
}